/.quarto/

_quarto.yml
callout_research.scss
educworkshop.qmd
index.qmd
research.qmd
seminars.qmd
styles.css
teaching_2024_wuerzburg.qmd
teaching.qmd


profiletest.jpg
about.qmd
index.qmd
research.qmd
index.qmd
*.qmd
