/*-- scss:defaults --*/
$border-color-left: #0dcaf0 !default;
$background-color: #bfe4eb !default;


/*-- scss:rules 

.callout-abstractbox-body {
  font-size: 9.0rem;
  font-weight: 900;
  text-decoration: blueviolet;
}

--*/

/*
.callout-body.callout-abstractbox.callout {
  border-left-color: $border-color-left;
  font-size: 0.7em;
  text-decoration: blueviolet; 
}

div.callout-abstractbox.callout {
  border-left-color: $border-color-left;
  border-left-color: transparent;
  border: white;
  border-top: white;
  font-size: 0.7em;
  border-left:1px ;
}
*/ 


/* 
div.callout-abstractbox.callout-style-default>.callout-header {
  background-color: $background-color;
}
 

.callout-abstractbox.icon .callout-icon {
  display: unset !important;
}

.callout-abstractbox.icon.callout-style-default div.callout-icon-container {
  padding-top: 0.9em;
  padding-right: 0.35em;
  font-size: 0.7em;
}

*/